.Rproj.user
.Rhistory
.RData
.Ruserdata
quarto-netlify.Rproj
/.quarto/
/posts/sp500/nn_fit.Rdata
/posts/sp500/sp500_history.Rdata
/posts/sp500/tuned_model.Rdata
/data/
/posts/wordament/words_dictionary.json